.ft-orbitron {
    font-family: 'Orbitron', sans-serif;
}

.ft-rajdhani {
    font-family: 'Rajdhani', sans-serif;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}