/* ---------------- MARGIN ---------------- */

.m-auto {
    margin: auto;
}

.m-1 {
    margin: 2px;
}

.m-2 {
    margin: 4px;
}

.m-3 {
    margin: 8px;
}

.m-4 {
    margin: 16px;
}

.m-5 {
    margin: 32px;
}

/* ---------------- MARGIN X ---------------- */

.mx-1 {
  margin-left: 2px;
  margin-right: 2px;
}

.mx-2 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-3 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-5 {
  margin-left: 32px;
  margin-right: 32px;
}

/* ---------------- MARGIN Y ---------------- */

.my-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-4 {

  margin-top: 16px;
  margin-bottom: 16px;
}

.my-5 {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* ---------------- MARGIN TOP ---------------- */

.mt-1 {
    margin-top: 2px;
}

.mt-2 {
    margin-top: 4px;
}

.mt-3 {
    margin-top: 8px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-5 {
    margin-top: 32px;
}

/* ---------------- MARGIN BOTTOM ---------------- */

.mb-1 {
    margin-bottom: 2px;
}

.mb-2 {
    margin-bottom: 4px;
}

.mb-3 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-5 {
    margin-bottom: 32px;
}

/* ---------------- MARGIN START ---------------- */

.ms-1 {
    margin-left: 2px;
}

.ms-2 {
    margin-left: 4px;
}

.ms-3 {
    margin-left: 8px;
}

.ms-4 {
    margin-left: 16px;
}

.ms-5 {
    margin-left: 32px;
}

/* ---------------- MARGIN END ---------------- */

.me-1 {
    margin-right: 2px;
}

.me-2 {
    margin-right: 4px;
}

.me-3 {
    margin-right: 8px;
}

.me-4 {
    margin-right: 16px;
}

.me-5 {
    margin-right: 32px;
}

/* ---------------- ---------------- */

/* ---------------- PADDING ---------------- */

.p-auto {
    padding: auto;
}

.p-1 {
    padding: 2px;
}

.p-2 {
    padding: 4px;
}

.p-3 {
    padding: 8px;
}

.p-4 {
    padding: 16px;
}

.p-5 {
    padding: 32px;
}

/* ---------------- PADDING X ---------------- */

.px-1 {
  padding-left: 2px;
  padding-right: 2px;
}

.px-2 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-5 {
  padding-left: 32px;
  padding-right: 32px;
}

/* ---------------- PADDING Y ---------------- */

.py-1 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-5 {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ---------------- PADDING TOP ---------------- */

.pt-1 {
    padding-top: 2px;
}

.pt-2 {
    padding-top: 4px;
}

.pt-3 {
    padding-top: 8px;
}

.pt-4 {
    padding-top: 16px;
}

.pt-5 {
    padding-top: 32px;
}

/* ---------------- PADDING BOTTOM ---------------- */

.pb-1 {
    padding-bottom: 2px;
}

.pb-2 {
    padding-bottom: 4px;
}

.pb-3 {
    padding-bottom: 8px;
}

.pb-4 {
    padding-bottom: 16px;
}

.pb-5 {
    padding-bottom: 32px;
}

/* ---------------- PADDING START ---------------- */

.ps-1 {
    padding-left: 2px;
}

.ps-2 {
    padding-left: 4px;
}

.ps-3 {
    padding-left: 8px;
}

.ps-4 {
    padding-left: 16px;
}

.ps-5 {
    padding-left: 32px;
}

/* ---------------- PADDING END ---------------- */

.pe-1 {
    padding-right: 2px;
}

.pe-2 {
    padding-right: 4px;
}

.pe-3 {
    padding-right: 8px;
}

.pe-4 {
    padding-right: 16px;
}

.pe-5 {
    padding-right: 32px;
}
