.div--contact-page {
    height: 100vh;

    align-content: center;
}

.btn {
    background-color: transparent;

    border-width: 2px;
    border-style: solid;
    border-color: black;

    border-radius: 0;

    transition: 0.3s;
}

.btn:hover {
    background-color: black;
    border-color: black;

    color: rgb(247, 80, 73);
}

.btn:active {
   border-color: black; 
}
